.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 17, 17, 0.429);
    color: aliceblue;
     
}
.logo{
    position: fixed;
    left: 20px;
    width: 90px;
    cursor: pointer;

}

.avatar{
    position: fixed;
    margin-left: 78rem;
    width: 30px;
}
.navbartext{
    
    display: flex;
    margin-left: 8rem;
    margin-top: .3rem;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.navtext{
    margin-left: 2rem;
    cursor: pointer;
}
.navtext:hover{
    transform: scale(1.1);
}
#search{
    margin-left: 35rem;
    cursor: pointer;

}
.textright{
    padding-left: 1rem;
    cursor: pointer;

}
#textright{
    padding-left: 1rem;
    cursor: pointer;


}
#drop{
    padding-left: 4rem;   
    cursor: pointer;

}